{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": ["error", "always-multiline"],
    "max-len": 0,
    "no-console": 0,
    "padded-blocks": 0,
    "quote-props": ["error", "consistent-as-needed"],
  }
}
